body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.dashboard {
  background-image: url('https://i.pinimg.com/564x/e5/78/11/e57811c9f62050480a6348778412692d.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (far left) */
  text-align: left; /* Align text to the left */
  color: black;
  padding: 20px;
}


.main-heading {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 2em;
  margin-bottom: 15px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

p {
  font-size: 1.2em;
  max-width: 600px;
  margin-bottom: 20px;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}
.form-container{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #86d4e0;
  border-radius: 50px;
  min-height: 650px;
}
.book-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}
.content{
  margin-left: 50px;
  padding-left: 100px;
  background-color: #b0d1d6;
  height: 300px;
  width: 30%;
  border-radius: 50px;

}
.author-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}

.row{
  padding-left: 100px;
  padding-right: 100px;
}